<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,221},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{113,1},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1027},{98,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,105},{102,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,111},{102,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,329},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,437},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,761},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,1075},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,313},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,415},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.469231,0.507692}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,545},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,517},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,619},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1127},{98,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,1181},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1227},{98,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{102,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,209},{102,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,867},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,971},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{111,653},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,721},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,823},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tp_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,925},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PKCutDowns.png</string>
            <key>size</key>
            <string>{214,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d31e4cd61c0d7b395769768daebcbf:278f4c0207591d33c2dbc04220392bee:9b0ae9f64555d354016bd0cd1ce25917$</string>
            <key>textureFileName</key>
            <string>PKCutDowns.png</string>
        </dict>
    </dict>
</plist>
