<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{119,1},{154,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{275,1},{154,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{1,139},{154,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{157,139},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{309,139},{148,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{1,277},{154,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{154,136}</string>
                <key>textureRect</key>
                <string>{{157,277},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,5}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{299,277},{89,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{390,277},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,71}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{1,415},{89,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{92,415},{89,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,71}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{183,415},{89,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{87,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{274,415},{87,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{458,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084d46127bf8555932d425e8ffd8e3aa:a4116dabd3b3bcdc49798181698d26a5:28b5f63aee02c9e802c3848dbb8fc9b7$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
