<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{117,89}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{111,101}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{120,1},{111,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{125,107}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{1,104},{125,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{123,107}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{128,104},{123,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{1,213},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{115,107}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{128,213},{115,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{36,13}</string>
                <key>spriteSourceSize</key>
                <string>{36,75}</string>
                <key>textureRect</key>
                <string>{{1,322},{36,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,73}</string>
                <key>spriteSourceSize</key>
                <string>{36,75}</string>
                <key>textureRect</key>
                <string>{{39,322},{36,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,73}</string>
                <key>spriteSourceSize</key>
                <string>{36,75}</string>
                <key>textureRect</key>
                <string>{{77,322},{36,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,73}</string>
                <key>spriteSourceSize</key>
                <string>{36,75}</string>
                <key>textureRect</key>
                <string>{{115,322},{36,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,73}</string>
                <key>spriteSourceSize</key>
                <string>{36,75}</string>
                <key>textureRect</key>
                <string>{{153,322},{36,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slipper_Emotion.png</string>
            <key>size</key>
            <string>{252,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7144277f12029213276d20563b8eb97:1280caf3c05c0da8c2e01442cebcc0df:31f9a41efefcda49de628d25cd3faee5$</string>
            <key>textureFileName</key>
            <string>Slipper_Emotion.png</string>
        </dict>
    </dict>
</plist>
