<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,15}</string>
                <key>spriteSize</key>
                <string>{193,174}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{1,283},{193,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{205,190}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{196,283},{205,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{177,118}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{260,1},{177,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{69,92}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{104,1},{69,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{83,98}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{175,1},{83,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{141,136}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{1,121},{141,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{175,150}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{144,121},{175,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{181,160}</string>
                <key>spriteSourceSize</key>
                <string>{213,204}</string>
                <key>textureRect</key>
                <string>{{321,121},{181,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{503,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f469877329d6fdda4eaad0a1867edb:3c6564e65f30718a1f13495e02c51bd9:1e1b10e576cef9be88a3ef3da7e44cee$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
