<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,163},{26,31}}</string>
                <key>offset</key>
                <string>{-36,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{26,31}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{30,27}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,68},{32,31}}</string>
                <key>offset</key>
                <string>{31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,5},{32,31}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,288},{26,29}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,41},{26,29}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,197},{30,29}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,66},{30,29}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,258},{28,29}}</string>
                <key>offset</key>
                <string>{-23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,49},{28,29}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,162},{28,31}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{28,31}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>dice1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,199},{30,28}}</string>
                <key>offset</key>
                <string>{26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{30,28}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,132},{32,28}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,67},{32,28}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{28,30}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{28,30}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,70},{32,32}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,68},{32,32}}</string>
                <key>offset</key>
                <string>{33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,17},{32,32}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{32,34}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,34},{32,34}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,68},{30,32}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{30,32}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{26,30}}</string>
                <key>offset</key>
                <string>{-36,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{26,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{28,28}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,101},{32,30}}</string>
                <key>offset</key>
                <string>{31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,257},{26,30}}</string>
                <key>offset</key>
                <string>{36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,39},{26,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{30,28}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,66},{30,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,136},{30,30}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,161},{28,32}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{28,32}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{32,33}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,68},{32,33}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,102},{32,29}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,66},{32,29}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{30,31}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{30,31}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,36},{32,33}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,197},{30,29}}</string>
                <key>offset</key>
                <string>{34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,19},{30,29}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,34},{32,33}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{32,33}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{30,33}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{30,33}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>dice3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,345},{28,28}}</string>
                <key>offset</key>
                <string>{-35,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,316},{28,28}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,288},{28,28}}</string>
                <key>offset</key>
                <string>{30,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,229},{26,30}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,40},{26,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,70},{32,30}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{32,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{30,30}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,253},{28,30}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{28,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice3_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,228},{28,30}}</string>
                <key>offset</key>
                <string>{27,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,68},{28,30}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,131},{32,28}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,66},{32,28}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,34}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{32,34}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,224},{30,28}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,223},{30,30}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,34},{32,32}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{32,32}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice3_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,102},{30,32}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{30,32}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dice4_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,133},{30,31}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{30,31}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,283},{26,29}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,311},{28,27}}</string>
                <key>offset</key>
                <string>{29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{28,27}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,284},{28,27}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{28,27}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,223},{28,25}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,68},{28,25}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,68},{32,31}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,48},{32,31}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,133},{28,31}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{28,31}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dice4_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,168},{30,29}}</string>
                <key>offset</key>
                <string>{28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{30,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{30,29}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,67},{30,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{32,33}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{32,33}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,101},{32,29}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{28,29}}</string>
                <key>offset</key>
                <string>{35,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,17},{28,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,104},{30,31}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{30,31}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice4_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{30,33}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{30,33}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice5_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,36},{32,32}}</string>
                <key>offset</key>
                <string>{-33,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{32,32}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{28,28}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,318},{28,26}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,9},{28,26}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,312},{26,28}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,44},{26,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,284},{26,28}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,66},{26,28}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,192},{30,30}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,228},{28,30}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{28,30}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>dice5_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,191},{30,30}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,191},{30,30}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,65},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,34},{32,32}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{32,32}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,165},{30,30}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,315},{28,28}}</string>
                <key>offset</key>
                <string>{35,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{28,28}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,223},{30,28}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{30,28}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice5_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{30,34}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,42},{30,34}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dice6_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,166},{30,29}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{30,29}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,312},{26,25}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,340},{26,27}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,7},{26,27}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,253},{26,25}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,44},{26,25}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,313},{26,27}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,64},{26,27}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,255},{30,27}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{30,27}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,285},{28,29}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{28,29}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>dice6_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,100},{32,29}}</string>
                <key>offset</key>
                <string>{26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{32,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{30,31}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,68},{30,31}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,258},{28,29}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{28,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,33}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,281},{28,29}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,19},{28,29}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{32,31}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{32,31}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>dice6_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,36},{30,33}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,46},{30,33}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938adc69532562f590a695b156fe48df$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
