<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{173,311},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-32}</string>
                <key>spriteSize</key>
                <string>{72,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{267,311},{72,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{341,311},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{101,1},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{101,1},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{209,1},{144,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{1,127},{178,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{1,127},{178,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{181,127},{192,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{1,311},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{192,188}</string>
                <key>textureRect</key>
                <string>{{1,311},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Egg_Emotion.png</string>
            <key>size</key>
            <string>{414,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb567aca6f2c22a2640d3f68230e582:2b7680e2cc93ed0f061a738c86805a92:84c2384ee321efa178a233c02d9de65b$</string>
            <key>textureFileName</key>
            <string>Egg_Emotion.png</string>
        </dict>
    </dict>
</plist>
