<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1,220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,208}</string>
                <key>spriteSourceSize</key>
                <string>{217,208}</string>
                <key>textureRect</key>
                <string>{{220,220},{217,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{220,1},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,189}</string>
                <key>spriteSourceSize</key>
                <string>{181,189}</string>
                <key>textureRect</key>
                <string>{{430,220},{181,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ding.png</string>
            <key>size</key>
            <string>{612,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:168346815e75e313e1a2da9765af2dc2:a65b3601b50484482ee3912b06c1f8a6:12d8db31e6e77ba097b782229abae1e4$</string>
            <key>textureFileName</key>
            <string>Ding.png</string>
        </dict>
    </dict>
</plist>
