<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>time_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,417},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,1},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,629},{106,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,775},{106,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{255,815},{106,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{145,417},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{289,497},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,523},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{293,1},{104,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,629},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{145,523},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{255,709},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,105},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,105},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,209},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,209},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,841},{106,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,140}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{293,213},{104,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,140}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{293,355},{104,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{293,107},{104,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{289,603},{104,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{104,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,735},{104,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{1,313},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{147,313},{102,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MJCutDown.png</string>
            <key>size</key>
            <string>{432,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be642d7331513213b8b0d35124ae964b:d1819ad95912553227dd1ecba30c2970:e5adc33aaf3bd84f8cf89009bbd977b4$</string>
            <key>textureFileName</key>
            <string>MJCutDown.png</string>
        </dict>
    </dict>
</plist>
